
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&display=swap');


body{
    background-color: black;
}

header {
    width: 100%;
    height: 300px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    background-image: url(../Imagenes/gradiente.jpg);
    background-size: 100%;
}

#titulo{
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-size: 45px;
    margin-left: -350px;
    margin-top: 60px;
}

#nombre{
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    font-weight: 300;
}

#utdt{
    font-family: "Noto Sans", sans-serif;
    font-size: 21px;
    font-weight: 700;
}
.animation{
    width: 900px;
    height: 900px;
    margin-top: 60px;
    margin-left: 20px;
    background: url(../Imagenes/CA.jpg);
    animation: play-sprite 0.8s steps(4) infinite;
    transform:scale(.2);
    transform-origin: top left;
}

@keyframes play-sprite {
100% { background-position: 3600px;}
}




main {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    /*sirve para encolumnar elementos*/

    flex-wrap: wrap;
    /* para poder lograr que cuando los elementos no entran dejen 
de encolumnarse y formen una fila nueva , tengo que poner esta propiedad*/

    justify-content: space-between;
    /*generar espacio entre los elementos*/

}

.container {
    position: relative;
    width: 30%;
  }
  
.image {
        width: 100%;
        transition: 0.5s;
}
.container:hover .text {
    opacity: 100%;
  }

  .container:hover .image {
    transition: 0.5s;
    opacity: 20%;
  }
  
  .text {
    color: white;
    opacity: 0%;
    font-family: "Noto Sans", sans-serif;
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
  }
  
video{
    width: 100%;
    margin-top: 50px;
}


#boton{
    text-decoration: none;
    color: white;
    background-color: black;
    width: 170px;
    height: 50px;
    margin-top: -50px;
    font-family: "Noto Sans", san serif;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    transition: all 0.5s;
    margin: auto; 
    border-radius: 10px;
    margin-left: 250px;
}

#boton:hover {
    background-color: white;
    border:1px dashed black;
    color: black;
}

footer{
    width: 100%;
    height: 150px;
    background-image: url(../Imagenes/gradiente.jpg);
    background-size: 100%;
}

#pie{
    text-align: center;
    padding-top: 2.5%;
    font-family: "Silkscreen", sans-serif;
    font-size: 40px;
}
